extends ../layout
include ../includes/commonMixins

block body
	.container
		.row
			.main
				h3 Nastavte heslo	
				form(role="form", action="/auth/local/connect#{roomQuery}", method="post")
					.form-group
						input.form-control(type="text", name="username", placeholder="Meno", value="#{ user.username }", disabled="disabled")
					.form-group
						input.form-control(type="text", name="email", placeholder="E-mail", value="#{ user.email }", disabled="disabled")
					.form-group
						input.form-control(type="password", name="password", placeholder="Heslo")
						
					if errors
						each error in errors					
							.alert.alert-danger.alert-dismissible(role="alert")
								button.close(type="button", aria-label="Close", data-dismiss="alert")
									span(aria-hidden="true") &times;
								= __(error)
						
					button.btn.btn-primary(type="submit")
						| Nastaviť
