extends ../layout
include ../includes/commonMixins

block body
	.container
		.row
			.main
				h3
					| Prihláste sa, alebo
					a(href="register#{locationQuery}")
						| &nbsp;zaregistrujte

				.row
					each provider, code in providers
						if provider.name
							.col-md-6.top-margin-10
								a(class="btn btn-block btn-social btn-" + code, href="/auth/" + provider.slug + locationQuery, role="button")
									i(class="fa fa-" + code)
									= ' ' + provider.name
							
				.login-or
					hr.hr-or
					span.span-or alebo
	
				form(role="form", action="/auth/local#{locationQuery}", method="post")
					.form-group
						input.form-control(type="text", name="identifier", placeholder="Meno alebo e-mail")
					.form-group
						input.form-control(type="password", name="password", placeholder="Heslo")

					+errors()
					
					.checkbox.pull-right
						label
							input(type="checkbox")
							| Zapamätať

					button.btn.btn-primary(type="submit")
						| Prihlásiť sa
