mixin menu()
	li.dropdown
		a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
			i.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
	
		//- Menu items
		ul.dropdown-menu
			li.dropdown-header Účet
			if isPasswordNotSet
				li
					a(href='connect#{locationQuery}', target='_self')
						i.icon-width.icon-indent.fa.fa-key
						| Nastaviť heslo
					
			each provider, code in disconnectedProviders
				if provider.name
					li
						a(href="/auth/" + provider.slug + locationQuery, target='_self')
							i(class="icon-width icon-indent fa fa-" + code)
							= 'Pripojiť ' + provider.name
		
			li.divider(role='separator')
			li
				a(href='', ng-click='openSettings()')
					i.glyphicon.glyphicon-check.icon-indent
					| Nastavenia
			li.divider(role='separator')
			li
				a(href='', ng-click='logout("#{locationQuery}")')
					i.glyphicon.glyphicon-log-out.icon-indent
					| Odhlásiť

mixin userList()
	li(ng-repeat="user in users")
		img.chat-img.img-circle.img-thumbnail.avatar(ng-src="{{ user.imageUrl }}", alt="{{ user.username }}", title="{{ user.username }}", ng-show="settings.showAvatars")
		a(href="", ng-show="!settings.showAvatars") {{ user.username }}

mixin messageList()
	li.left.clear-fix(ng-repeat="message in messages")
		span.chat-img.pull-left(ng-show="settings.showAvatars")
			img.img-circle.img-thumbnail.avatar(ng-src="{{ message.senderUser.imageUrl }}", alt="{{ message.senderUser.username }}")
		.clearfix(ng-class="{ 'chat-body' : settings.showAvatars }")
			.header
				strong.primary-font
					| {{ message.senderUser.username }}
				small(style="padding-left:0.6em", ng-show="message.state === 'sending'")
					i.glyphicon.glyphicon-cog.gly-spin
				small(style="padding-left:0.6em", ng-show="message.state === 'failed'")
					i.glyphicon.glyphicon-exclamation-sign
					a(href="", ng-show="connected")
						i.glyphicon.glyphicon-repeat
				small.pull-right.text-muted(style="padding-left:0.6em", ng-show="message.updatedAt !== message.createdAt")
					span.glyphicon.glyphicon-time
					| {{message.updatedAt | date : 'HH:mm'}}
				small.pull-right.text-muted(ng-show="!message.state")
					span.glyphicon.glyphicon-time
					| {{message.createdAt | date : 'HH:mm'}}
				small.pull-right.text-muted(style="padding-right:0.6em", ng-show="!message.state && message.senderUser.id === settings.user")
					a(ng-click="edit(message.id)", href="")
						span.glyphicon.glyphicon-edit
			p(ng-bind-html="message.content | embedLinky")

mixin sendForm()
	form(ng-submit="send()", ng-cloak)
		#textArea
			textarea.msd-elastic.input-sm(type="text", placeholder="Čo?", ng-model="text", ng-disabled="!ready", autofocus, ng-keydown="text && !sending && connected && sendIfKeyPressed($event)")
		#sendArea
			button#sendButton.btn.btn-warning.btn-sm(type="submit", ng-disabled="!connected || !ready || !text") {{ editingId ? "Zmeniť" : "Poslať" }}
		#sendArea2(ng-show="editingId")
			button#cancelButton.btn.btn-default.btn-sm(type="reset", ng-click="cancelEdit()") Zrušiť