extends ./layout

block body
	form(ng-controller="MessageController")
		ul
			li(ng-repeat="message in messages")
				button(ng-click="edit(message.id)")
					| Edit
				| {{message.createdAt}} | {{message.content}}
				span(ng-show="message.updatedAt !== message.createdAt")
					|  | {{message.updatedAt}}

		input(type="text", ng-model="text" ng-disabled="sending")
		button(type="submit", ng-click="send()" ng-disabled="!text")
			| Send