doctype html
html
	head
		title(ng-bind="title") Eeechat
	
		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="icon", href="images/app32.png", type="image/x-icon")
		
		// STYLES
		link(rel="stylesheet", href="/min/production.min.css")
		// STYLES END
	
		block styles
		block scripts
	
	body(ng-app="eeechat")
		block body
			
			
		// SCRIPTS
		script(src="/min/production.min.js")
		// SCRIPTS END
