extends ./layout

block body
	#main(ng-controller="ChatController", ng-init="connect()")

		nav.navbar.navbar-default.navbar-fixed-top(ng-controller="UserController")

			//- Top panel
			
			.container
				.navbar-header
					a.navbar-brand(href='#') Eeechat

				#navbar.navbar-collapse.collapse
				
					//- User list

					ul.nav.navbar-nav(ng-cloak)
						li(ng-repeat="user in users")
							img.chat-img.img-circle.img-thumbnail.img-responsive.avatar(ng-src="{{ user.imageUrl }}", alt="{{ user.username }}", title="{{ user.username }}")

					//- Menu
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')

							//- Menu items
							ul.dropdown-menu
								li
									a(href, ng-dialog='settings/template', ng-dialog-controller='SettingsController')
										i.glyphicon.glyphicon-check.icon-indent
										| Nastavenia
								li.divider(role='separator')
								li
									a(href='logout')
										i.glyphicon.glyphicon-log-out.icon-indent
										| Odhlásiť

		//- Messages
		
		#messaged(ng-controller="MessageController")
			.container
				.row
					.col-md-6.col-md-offset-3
						ul.chat(ng-cloak)
							li.left.clear-fix(ng-repeat="message in messages")
								span.chat-img.pull-left(ng-show="settings.showAvatars")
									img.img-circle.img-thumbnail.img-responsive.avatar(ng-src="{{ message.sender | userImage }}", alt="{{ message.sender | userName }}")
								.clearfix(ng-class="{ 'chat-body' : settings.showAvatars }")
									.header
										strong.primary-font
											| {{ message.sender | userName }}
										small(style="padding-left:0.6em", ng-show="message.state === 'sending'")
											i.glyphicon.glyphicon-cog.gly-spin
										small(style="padding-left:0.6em", ng-show="message.state === 'failed'")
											i.glyphicon.glyphicon-exclamation-sign
											a(href="#", ng-show="connected")
												i.glyphicon.glyphicon-repeat
										small.pull-right.text-muted(style="padding-left:0.6em", ng-show="message.updatedAt !== message.createdAt")
											span.glyphicon.glyphicon-time
											| {{message.updatedAt | date : 'HH:mm'}}
										small.pull-right.text-muted(ng-show="!message.state")
											span.glyphicon.glyphicon-time
											| {{message.createdAt | date : 'HH:mm'}}
										small.pull-right.text-muted(style="padding-right:0.6em", ng-show="!message.state")
											a(ng-click="edit(message.id)")
												span.glyphicon.glyphicon-edit
									p(style="white-space: pre-wrap")
										| {{message.content}}
						.panel.panel-danger(ng-show="!connected", ng-cloak)
							.panel-heading Odpojený. Počkajte na obnovenie spojenia.
						a#bottom(style='display:block', in-view="setAutoScroll($inview)")

			//- Bottom panel

			footer.footer
				.container#footerContainer
					form(ng-submit="send()")
						#textArea
							textarea.msd-elastic.input-sm(type="text", placeholder="Čo?", ng-model="text", ng-disabled="!ready", autofocus, ng-keyup="(($event.keyCode == 13 && $event.ctrlKey) || ($event.keyCode == 83 && $event.altKey)) && text && !sending && connected && send()")
						#sendArea
							button#sendButton.btn.btn-warning.btn-sm(type="submit", ng-disabled="!connected || !ready || !text") Poslať