EeeDataSet(xmlns="http://tempuri.org/EeeDataSet.xsd")
	for user in users
		User
			UserID= user.legacyId
			Login= user.username
			State 1
			Client Eeechat.net
			LoginTime 2015-01-01T12:00:00+02:00